body{
    margin: 0 auto;
    background-image: url("../View/imagens/lanhouse.jpg");
    background-size: 1380px 800px;
}
.body{
    background-color: #f5f5f5;
    padding-top: 15%;
    background-image: url("../View/imagens/lanhouse.jpg");
    background-size: 1380px 800px;
}
.container{
    width: 100%;
    height: 100%;
}
.col-12{
    text-align: center;
}
.col-4{
    padding-top: 25px;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
}
#content{
    width: 425px;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: inline-flex;
}

#code{
    font-family: Abraham Lincoln,Bebas,Arial;
      font-size: 15px;
    padding-top: 1px;
    color: white; 
    background-color: rgba(0,0,5,0.5);
      border-color: white;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    width: 300px;
    display: inline-flex;
}